:root {
	--primary: #14b8a6;
	--secondary: #caeee0;
	--accent: #047857;
	--white: #ffffff;
	--black: #111827;
}

.sidebar {
	background-color: var(--white) !important;
	color: var(--primary);
	min-height: 100vh;
}

.text {
	font-size: 1rem;
}
